# Python virtual environment
venv/

# Experimental data
*.mp4

# CAD models
cad/

# 3D printing files
3d_printing/

# Python cache
__pycache__/
*.pyc

# macOS system files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/